@font-face {
    font-family: 'Quantico-Bold';
    src:          url("../fonts/Quantico-Bold.ttf"); 
}

@font-face {
    font-family: 'Quantico-BoldItalic';
    src:          url("../fonts/Quantico-BoldItalic.ttf"); 
}

@font-face {
    font-family: 'Quantico-Italic';
    src:          url("../fonts/Quantico-Italic.ttf"); 
}

@font-face {
    font-family: 'Quantico-Regular';
    src:          url("../fonts/Quantico-Regular.ttf"); 
}


$text-color: #0d1129;
$background: #f0eef2;
$header-bg: #4d1ba8;
$border-color: #d2ccda; 
$row: -20px;
$columns: 20px;
$footer-bg: #a4a2a6;
$pink: #ef4b74;


body{
	background: $background;
	color: $text-color;
	margin: 0 auto;
	font-family: 'Quantico-Regular';
}

h1{
	font-size: 1.9em;    
	-webkit-margin-before: 0.33em;
    -webkit-margin-after: 0.6em;
}

h2{
	font-family: 'Quantico-Bold';
}

p{
	line-height: 22px;
}

.clearfix::after {
	display: block;
	content: "";
	clear: both;
}


header{
	height: 130px;
	background: $header-bg;
	margin-bottom: 30px;
}

nav{
	width: calc(100% - (265px + ( #{$columns} * 2 )));
	height: 130px; 
	float: right;
}

.row{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	margin-left: $row;
	margin-right: $row;
}

.columns{
	padding-left: $columns;
	padding-right: $columns;
}

.container{
	max-width: 1160px;
	margin: auto;
	width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.logo{
	max-width: 265px;
	height: 130px;
	display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    padding-left: 0px;
}

.logo:before{
	background: url('../images/logo-shadow.png');
	content: "";
    height: 130px;
    width: 420px;
    position: absolute;
    z-index: 0;
    left:-1px;
}

.logo a{
	z-index: 1;
}

.logo img{
	width: 100%;
}

.content{
	background: white;
	border: 1px solid $border-color;
	width: calc(75% - 8px);
	margin-bottom: 40px;
	float: left;
	max-width: 834px;
	margin-top: 10px;
}

.sidebar{
	width: calc(25% + 6px);
	float: right;
	margin-top:2px;
}


.sidebar h2{
	margin-top: 0px;
	font-size: 1.4em;
	margin-bottom: 11px;
}

.sidebar > .columns{
	padding-right:10px;
}

.sidebar-title{
	text-align: center;
	border-bottom: 1px solid $text-color;
}

.information{
	text-align: center;
	margin-top: 14px;
	margin-bottom: 14px;

}

.sidebar form{
	border: 1px solid $pink;
	border-radius: 5px;
	padding: 14px $columns 19px;
	margin-right: 1px;
}

.sidebar form label{
	color: $pink;

}

.sidebar form input[type="text"], .sidebar form textarea{
	border-radius: 5px;
	border: 1px solid $border-color;
	height: 14px;
	padding: 7px 10px;
	-webkit-box-shadow: inset 2px 2px 4px -2px rgba($border-color,1);
	-moz-box-shadow: inset 2px 2px 4px -2px rgba($border-color,1);
	box-shadow: inset 2px 2px 4px -2px rgba($border-color, 1);
	width: calc(100% - 22px);
	margin-top: 3px;
	margin-bottom: 14px;
}

.sidebar form textarea{
	height: 94px;
	resize: none;
}

.sidebar form input:focus, .sidebar form textarea:focus{
	outline: 0;
}

.sidebar form input[type="submit"]{
	background: $pink;
	color: white;
	border-radius: 5px;
	border: 1px solid $pink;
	width: 100%;
	height: 40px;
	margin-top: 6px;
	font-family: 'Quantico-Regular';
	font-size: 22px;
}

.sidebar form input[type="submit"]:hover{
	background: white;
	color: $pink;
	border: 1px solid $pink;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@include placeholder {
    color: #a09ca6;
}


.footer-content{
	padding-left: $columns;
	padding-right: $columns;
}

.footer-content > .row{
	margin-right: 0;
}

.footer-content .block{
	width: 33.333%;
	float: left;
}

.footer-content .block:first-child{
	margin-left: -20px;
}

.block{
	-ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  	padding: 15px 0px;
  	font-size: 16px;
    line-height: 22px;
}

.block div{
	padding-left: 0px;
	padding-right:0px;
}

.block:first-child > div{
	padding-right: $columns;
}

.block:last-child > div{
	padding-left: $columns;
}


footer{
	background: $footer-bg;
    min-height: 83px;
    margin-top: 50px;
    padding-bottom: 17px;
}

.bottom-menu{
	display: inline-block;

}

.bottom-menu ul{
	list-style: none;
	padding: 0px;
	color: white;
	margin: 15px 0 11px; 
}

.bottom-menu ul li{
	display: inline-block;
}

.bottom-menu ul li:not(:last-child):after{
	content: "●";
	padding-left: 9px;
	padding-right: 5px;
}

.bottom-menu ul li a{
	color: white;
	text-decoration: none;
	font-size: 16px;
}

.bottom-menu ul li a:hover{
	color: $pink;
}

.footer-info{
	color: #40454c;
	font-size: 14px;
	line-height: 17px;
}


@media (max-width: 1200px){
	.content {
	    width: calc(75% - 18px);
	    margin-left: 10px;
	}

	.logo{
		margin-left: $columns / 2;
	}
}

@media (min-width: 960px){

	nav{
		position: relative;
	}
	
	#menu-con{
		position: absolute;
		bottom: 0;
		right: 0; 
	}

	#menu-con ul{
		float: right;
		list-style: none;
		align-self: flex-end;
		margin-bottom: 0px;
		margin-right: $columns ;
	}

	#menu-con > ul > li{
		float: left;
	}

	#menu-con > ul > li:last-child{
		margin-right: 0px;
	}

	#menu-con > ul > li > a{
		color: white;
		text-decoration: none;
		font-size: 22px;
		line-height: 15px;
		padding: $columns 18px;
		display: inline-block;
	}

	#menu-con li a:hover{
		color: $pink;
	}

	#menu-con > ul > li > ul{
		display: none;
		position: absolute;
		width: 175px;
		padding: 0px;
		border-radius: 5px;
	}

	#menu-con > ul > li > ul:before{
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 8px 9px 8px;
		border-color: transparent transparent $pink transparent;
		content: "";
		display: block;
		position: absolute;
		top: -9px;
	    left: 11px;
	} 


	#menu-con > ul > li:hover > ul{
		display: block;
		border-radius: 5px;
	}

	#menu-con > ul > li > ul >li >a{
		background: $pink;
		color: $text-color;
		border-bottom: 1px solid #bf3b5c;
		display: inline-block;
		width: calc(100% - #{$columns} * 2);
		padding: 3px $columns;
		text-decoration: none;
	}

	#menu-con > ul > li > ul >li:first-child > a{
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	#menu-con > ul > li > ul >li:last-child > a{
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	#menu-con > ul > li > ul >li > a:hover{
		background: #ff6f93;
		color: white;
	}

	#menu-con input{
		display:none;
	}
}

@media (max-width: 960px){
	body{
		position: relative;
		overflow-x: hidden; 
	}

	#menu-con{
		display: block;
		position: relative;
		z-index: 1;
		margin-right: 20px;
		float: right;
		margin-top: 39px;
	}

	#menu-con input	{
		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: -7px;
		right: -5px;
		cursor: pointer;
		opacity: 0; 
		z-index: 2; 
		-webkit-touch-callout: none;
	}

	#menu-con span	{
		display: block;
		width: 33px;
		height: 4px;
		margin-left: auto;
		margin-right: 2px;
		margin-bottom: 5px;
		position: relative;
		background: #cdcdcd;
		border-radius: 3px;
		z-index: 1;
		transform-origin: 4px 0px;
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		          background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		          opacity 0.55s ease;
	}

	#menu-con span:first-child	{
		transform-origin: 0% 0%;
	}

	#menu-con span:nth-last-child(2){
		transform-origin: 0% 100%;
	}

	#menu-con input:checked ~ span{
		opacity: 1;
		transform: rotate(45deg) translate(-2px, -1px);
		background: #232323;
	}

	#menu-con input:checked ~ span:nth-last-child(3){
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}

	#menu-con input:checked ~ span:nth-last-child(2){
		transform: rotate(-45deg) translate(0, -1px);
	}

	#menu-con input:checked ~ ul{
	  transform: translate(-70%, 0);
	}

	#menu{
	  position: absolute;
	  width: 300px;
	  margin: -100px 0 0 -50px;
	  padding: 50px;
	  padding-top: 125px;
	  background: #ededed;
	  list-style-type: none;
	  -webkit-font-smoothing: antialiased;
	  transform-origin: 0% 0%;
	  transform: translate(30%, 0);
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}

	#menu ul{
		list-style: none;
	}

	#menu li{
	  padding: 10px 0;
	  font-size: 22px;
	}

	#menu > li:first-child{
		border-top: 1px solid rgba(black, 0.5);
	}

	#menu > li{
		border-bottom: 1px solid rgba(black, 0.5);
	}

	#menu li a{
		text-decoration: none;
		color: $text-color;
	}

	.content {
	    width: calc(60% - 12px);
	    margin-left: 10px;
	}

	.sidebar {
	    width: calc(40%);
	}

	nav > ul > li > a{
		padding: 15px 10px;
		font-size: 18px;
	}

	.logo{
		max-width: 200px;
	}

	nav {
	    width: calc(100% - (200px + ( 20px * 2 )));
		z-index: 1;
	    position: relative;
	}
}

@media (max-width: 720px){

	header, .logo, .logo:before, nav{
		height:100px;
	}

	.content{
		width: 100%;
		margin-right: 10px;
	}

	.sidebar{
		width: 100%;
	}

	.sidebar > .columns{
		padding-right: 20px;
	}

	.footer-content .block{
		width: 100%;
	}

	.block:first-child > div, 
	.block:last-child > div{
		padding-left: 0px;
		padding-right: 0px;
	}

	.footer-content .block:first-child{
		margin-left: 0px;
	}

}

